@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (primary: mat.$rose-palette, tertiary: mat.$red-palette),
    typography: Roboto,
    density: 0,
  ));
width: 100%;
overflow-x: hidden;
margin: 0;
padding: 0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;

}

body, button, .nav-links {
  background-color: #fff9fb; /* El rosa suave de fondo */
  height: 100%;
  font-family: 'Montserrat', sans-serif; /* Moderna y legible */
  padding: 0 15px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* El contenedor que centra todo */
.site-wrapper {
  max-width: 1200px;
  margin: 0 auto; /* Centrado horizontal */
  background: #ffffff;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.03);
}

h1, h2, .logo {
  font-family: 'Playfair Display', serif; /* Elegante para títulos */
}






@media (max-width: 480px) {
  .navbar-links {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el menú en 2 columnas */
    text-align: center;
    gap: 5px;
  }

  .logo-trendy {
    font-size: 20px; /* Achica el logo si es necesario */
  }
}
