@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (primary: mat.$rose-palette, tertiary: mat.$red-palette),
    typography: Roboto,
    density: 0,
  ));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff9fb; /* El rosa suave de fondo */
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

/* El contenedor que centra todo */
.site-wrapper {
  max-width: 1200px;
  margin: 0 auto; /* Centrado horizontal */
  background: #ffffff;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.03);
}
